* {
  margin: 0 auto;
}

body {
  background-image: url("https://i.pinimg.com/originals/17/d6/ce/17d6ced5b0a988e6df4879cd79793f73.jpg");
  
  background-size:stretch;
  color: #fff;
  text-align:center;
  font-family: "Agbalumo", serif;
   
}
.row{
  height:auto;
  max-width:1000px;
  min-height:170px;
  background:#000;
    padding:10px;
  opacity:0.9;
  
}
.row:hover{
  opacity:1;
  
}
.row img{
width:180px;
  height:180px;
  margin:15px;
border: 1px solid #ccc;
border-radius: 50%;
}
.imgL{
  float:left;
}
.imgR{
  float:right;
}
.row p{
  max-width:800px;
  text-align:justify;
  padding:15px ;
  margin:10px auto;
  
}
.textR{
  margin-left:150px;
  
}
.textL{
  margin-right:150px;
}